<h4>Search result: </h4>
<%= form_tag courses_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
<div class='row-fluid'>
	<div class='span3'>
		<h4>Title</h4>
	</div>
	<div class='span9'>
		<h4>Description</h4>
	</div>
</div>

<% @courses.each do |course| %>
  	<div class='row-fluid'>
  		<div class='span3'>
    		<%= link_to course.title, course %>
    	</div>
    	<div class='span9'>
    		<%= course.description %>
    	</div>
    </div>
<% end %>
</table>

<br />
<% if current_user.present? && (current_user.has_role? :admin)%>
	<%= link_to 'New Course', new_course_path %>
<% end %>
