<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Starting:</b>
  <%= @course.starting %>
</p>

<p>
  <b>Ending:</b>
  <%= @course.ending %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<%= render :partial => 'comment', :collection => @course.comments %>

<%= render :partial => 'professor', :collection => @course.professors, :as => :professor%>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

<%= form_for([@course, @course.comments.build]) do |f| %>
  <%= f.text_field :content%>
  <%= f.submit %>
  
<% end %>

<%= form_for([@course, @course.professors.build]) do |f| %>
  <%= f.text_field :name%>
  <%= f.submit %>
<% end %>
