
<ul class="nav nav-list bs-docs-sidenav">
	<li><%= link_to('Home', :root) %> </li>
		<% if user_signed_in? %>
			<li><%= link_to('My Profile', user_path(current_user))  %></li>
		<% end %>
	    <li><%= link_to('Professors', professors_path)  %></li>
	    <li><%= link_to('Majors', majors_path)%></li>
	    <li><%= link_to('Distributions', distributions_path)  %></li>
	  <% if user_signed_in? and current_user.has_role?(:admin)%>
	  	<li><%= link_to('Courses', courses_path)%></li>
	  <% end %>
</ul>